/* global */
body {
    background-color: #AABD8C;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* background */
.container {
    position: relative;
    margin: 0 auto;
    width: 100vmax;
    height: 100vh;
    background-size: cover;
    display: flex;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/flowerbg.jpeg');
    background-size: cover;
    opacity: 0.1;
}

/* text styles */
h1, h2, p {
    margin: 10px 0; 
}

h1 {
    position: relative;
    color: #985F99;
    font-size: 60px;
}

h2 {
    position: relative;
    color: #381D2A;
    font-size: 40px;
}

p {
    position: relative;
    color: #381D2A;
    font-size: 17px;
}

/* navigation bar */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d362f;
    position: sticky;
    top: 0;
    width: 100vw;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: right;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.navbar li a:hover {
    color: #E9E3B4; 
}

/* content on page */
article {
    padding: 30px 20px;
    position: fixed;
    top: 0; left: 0;
    transform: translate(calc(50vw - 50%));
}

.content {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 50px;
    width: 600px;
    margin-top: 10px;
}

.icons {
    margin-top: 370px;
}